{% extends 'base.html.twig' %}


{% block header %}


		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="#">
		    <img src="https://www.mercadona.com/estaticos/images/mercadona_logo/es/mercadona-imagotipo-color-300.png"  height="30" class="d-inline-block align-top" alt="">		   
		  </a>

		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav navbar-custom">

		      <a class="nav-item nav-link active " href="#">Conócenos <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="#">Categorías</a>
		      <a class="nav-item nav-link" href="#">Mis Habituales</a>
		    </div>
		    <span class="navbar-text">
		      Identifícate
		      <i class="fas fa-angle-down"></i>
		      <i class="fas fa-shopping-cart"></i>
		    </span>
		  </div>
		</nav>


	



{% endblock %}









{% block footer %}



{% endblock %}