<footer>


	<div class="row">
        <div class="col">

        	<h5><strong> Cliente </strong></h5>
        	<ul>
        		<li> Supermercados </li>
				<li> Consejos </li>
				<li> Tarjeta Mercadona </li>
				<li> Factura cliente </li>			
        	</ul>
        </div>
         <div class="col">
        	<h5><strong> Trabajador </strong></h5>
        	<ul>
        		<li> Trabaja con nosotros </li>		
        	</ul>
        </div>

        <div class="col">
        	<h5><strong> Proveedor </strong></h5>
        	<ul>
        		<li> E-factura proveedores </li>
				<li> Portal Trinidad </li>		
        	</ul>
        </div>
		<div class="col">

        	<h5><strong> Sociedad </strong></h5>
        	<ul>
        		<li> Actualidad </li>
				<li> Sala de prensa </li>	
				<li> Conoce Mercadona </li>
				<li> Mercadona en Portugal </li>		
        	</ul>
        </div>
        <div class="col">

        	<ul>
        		<li><i class="fas fa-envelope"></i> Contacto </li>
        		<li> <img src="https://www.mercadona.es/v1.0.14-94/img/call-center-web.c57be9.png"> </li>
				<li> <i class="fab fa-facebook-square">     <i class="fab fa-twitter">     <i class="fab fa-youtube"></i>     <i class="fab fa-instagram"></i></i></i> </li>	
        	</ul>
        </div>
    </div>
    <div class="row-inline">

    	<ul>
    		<p> © Mercadona S.A. A46103834. Todos los derechos reservados. </p><p>Accesibilidad </p>

    	</ul>

    </div>

</footer>