<header>


<div class="alert alert-danger" role="alert">
  Comunicado Bebida Fresa Plátano Soja Hacendado
</div>	  
		
<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="#">
    <img src="https://www.mercadona.com/estaticos/images/mercadona_logo/es/mercadona-imagotipo-color-300.png"  height="30" class="d-inline-block align-top" alt="">		   
  </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-custom">
      <a class="nav-item nav-link active " href="#">Conócenos <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Supermercados</a>
      <a class="nav-item nav-link" href="#">Trabaja con nosotros</a>
      <a class="nav-item nav-link" href="#">Atencion al cliente</a>
    </div>
    <span class="navbar-text">
      Español
      <i class="fas fa-angle-down"></i>
    </span>
  </div>
</nav>



</header>